.container {
  list-style: none;
  display: flex;
  padding: 1rem;
  padding-bottom: 2rem;
  min-height: 78vh;
  overflow-x: scroll;

  .board-container {
    min-width: 17rem;
    width: 17rem;
    margin-right: 2rem;
  }

  .new-board-container {
    text-align: center;
    min-width: 15rem;
    width: 15rem;

    .new-board-btn {
      button {
        width: 100%;
        border: none;
        padding: 1.3rem;
        background: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 3rem;
      }
    }

    .new-board-form {
      padding: 1.3rem;
    }
  }
}
