.container {
  textarea,
  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 0.9rem;
    resize: none;
  }
  textarea {
    min-height: 7rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    svg {
      margin-left: 2rem;
      cursor: pointer;
    }
  }
}
