.active {
  background: #f0f6ff;
}

.container {
  width: 17.5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 9rem;
  height: 100%;

  ul {
    li {
      padding: 2rem 2.4rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 2px solid #fff;

      &:hover {
        background: #f0f6ff;
      }

      p {
        margin-left: 1rem;
        font-weight: 500;
      }
    }
  }

  &:hover {
    width: 18rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.2s linear;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    display: none;
  }
}
