.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .comment-left {
    display: flex;
    align-items: center;
    width: 70%;

    .content {
      margin-left: 1rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  .comment-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 20%;

    p {
      font-size: 0.8rem;
      font-weight: 200;
      width: 80%;
      line-height: 1.5;
    }

    svg {
      cursor: pointer;
    }
  }
}
