.container {
  width: 90%;
  margin: 0 auto;

  .room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      .settingIcon {
        margin-left: 3rem;
      }
    }
  }
}
