.container {
  width: 100%;
  padding-left: 3rem;
  margin: 0 auto;

  .room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 2rem 1.8rem;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      font-weight: 300;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      .settingIcon {
        margin-left: 3rem;
      }
    }
  }
}
