.container {
  width: 100%;
  padding-left: 3rem;
  margin: 0 auto;

  p {
    margin-bottom: 0;
  }

  .room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem 2rem 1.8rem;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      font-weight: 300;
      margin-bottom: 0;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        margin-bottom: 0;
      }

      .settingIcon {
        margin-left: 3rem;
      }
    }
  }

  .leave-btn {
    margin-left: 2rem;
  }
}
