.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
}

.task {
  display: flex;
  align-items: center;

  p {
    padding-left: 2rem;
    font-size: 1.5rem;
    border-left: 1px solid #eee;
  }
}

.date {
  font-size: 1.2rem;
}
