.container {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-color);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  .firstLetter {
    color: #eee;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
  }
}
