.container {
  width: 2rem;
  height: 2rem;
  background: var(--secondary-color);
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  .firstLetter {
    color: #eee;
    font-weight: 500;
    font-size: 0.9rem !important;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem !important;
    padding: 0 !important;
  }
}
