.container__recent {
  width: 100%;

  .container__recent--childs {
    --gap: 3%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
  }

  .container__recent--child {
    margin: 2rem 0 0 var(--gap);
    width: 22%;

    &:hover {
      transform: scale(1.05);
      transition: all 0.2s linear;
    }
  }
}
